ion-content {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
  }
  
main{
    background-color: white;
}
  #noEven{
    color: black;
    font-size: 1.1rem;
  }
  ion-button {
    background: #fefefe;
    color: #000000;
    border-radius: 0px;
    width: 100%;
    max-width: 300px;
    text-align: center;
  }
main section  ion-card, ion-card-content{
    width: 100%;
    height: 100%;
  }
  .result-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 20px;
  }
  
  .result-label {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  
  #green, #red, #azul {
    margin: 5px 0;
    font-size: 1.1rem;
  }
  
  #green {
    color: green;
  }
  
  #red {
    color: red;
  }
  
  #blue {
    color: blue;
  }
  #notChecked{
    color: red;
    font-size: 1.1rem;
    text-align: center;
  }